[Desktop Entry]
Icon=text-html
Name=http://www.flickr.com/photos/68958307@N00/4891120213/
Type=Link
URL[$e]=http://www.flickr.com/photos/68958307@N00/4891120213/
